<nav class="navbar navbar-expand-lg" style="background-color: #a0522d;">
    <a class="navbar-brand text-white" href="/">Imobiliária</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <!-- Itens à esquerda -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin/articles">Cadastro de Imóvel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin/categories">Categorias</a>
            </li>
            <% categories.forEach(category => { %>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/category/<%= category.slug %>"><%= category.title %></a>
                </li>
            <% }) %>
        </ul>

        <!-- Itens à direita -->
        <ul class="navbar-nav ml-auto">
            <% if (!user) { %>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Login</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <span class="navbar-text mr-2 text-white">
                        <strong><%= user.email %></strong>
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            <% } %>
        </ul>

    </div>
</nav>
