<nav class="navbar navbar-expand-lg" style="background-color: #a0522d;">
    <a class="navbar-brand text-white" href="/">
        Imobiliária
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/articles">Artigos</a>
        </li>
    </ul>
</nav>
